.contact-container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-max-width {
  align-self: center;
}
 
.contact-content1 {
  width: 100%;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
}
 
.contact-content2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-content3 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-container2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact-image1 {
  object-fit: cover;
}
 
.contact-text12 {
  text-align: center;
}
 
.contact-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact-container4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact-image2 {
  object-fit: cover;
}
 
.contact-text14 {
  text-align: center;
}
 
.contact-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
span{
  display: inline-block;
}

@media(max-width: 991px) {
  .contact-content1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-content3 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .contact-content1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .contact-image1 {
    width: 100%;
  }
  .contact-image2 {
    width: 100%;
  }
}
